$color-acento: #0098F8;
$color-rojo: #D00808;
$color-naranja: #ED684A;
$color-amarillo: #DCA533;
$color-verde:#3EC556;
$color-gris: #888888;
$color-blanco: #fff;


.color-acento{
    color: $color-acento;
}
.color-rojo{
    color: $color-rojo;
}
.color-naranja{
    color: $color-naranja;
}