
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// SEPARACIONES Y ESPACIADOS

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

.margin-top-small{
    margin-top: 5px !important;
}

.margin-top-medium{
    margin-top: 10px !important;
}

.margin-top-negative-medium{
    margin-top: -10px !important;
}

.margin-top-big{
    margin-top: 20px !important;
}

.padding-bottom-small{
    margin-top: 5px !important;
}

.padding-bottom-big{
    padding-bottom: 20px !important;
}

.margin-bottom-negative-medium{
    margin-bottom: -10px !important;
}
.padding-top-big{
    padding-top: 20px !important;
}

// TIPOGRAFIA

.light-font{
font-family: 'Myriad Pro Light';
}

.regular-font{
font-family: 'Myriad Pro Regular';
}

.bold-font{
font-family: 'Myriad Pro Bold';
}

.semibold-font{
font-family: 'Myriad Pro Semibold';
}

.deshabilitado{
    pointer-events: none;
}