/* Select2 */

//.select2-search { background-color: #00f; }
//.select2-search input { background-color: #00f; }
.select2-results {
  color: #999;
}

.select2-container--default .select2-selection--multiple {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 4px;
}


/* Select width */

.resizeselect {
  display: inline-block;
}


/* Dropdown */

.dropdown-menu {
  background-color: #232529;
  color: #fff;
  &>li>a {
    color: #fff;
  }
  &>li>a:hover,
  &>li>a:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  &>.active>a,
  &>.active>a:hover,
  &>.active>a:focus {
    color: #0098F8;
    text-decoration: none;
    font-family: 'Myriad Pro Semibold';
    outline: 0;
    background: transparent url("../images/dropdown-check.svg") no-repeat 6px 8px;
    
  }
  &:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #232529;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  &:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #232529;
    border-left: 6px solid transparent;
    content: '';
  }
  .divider {
    background-color: #404040;
  }
  &.pull-right {
    right: -7px;
  }
}

/* Charst.js */

.chart-item{
  height:100px;
  width:100%;
  position: absolute;
  display: block;
 
}


