$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/select2/src/scss/core.scss";
// endbower
@import "variables";
@import "colors";
@import "fonts";
@import "utils";
@import "vendormods";
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Space out content a bit */

body {
  background-color: #3C424A;
  color: #fff;
  font-family: 'Myriad Pro Regular';
}


/* Estructura principal */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; // align-items: stretch;
  align-content: stretch;
  height: 0;
}

.flex-item {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 32.5%; //overflow: hidden; //background-color: #4674B0;
  margin: 0.5% 0;
  display: flex;
  &.datos {
    width: 19%;
  }
}


/* Estructura principal */

.header {
  height: 125px;
  overflow: hidden;
  &>div {
    padding-top: 18px;
  }
  .menu-header {
    h1 {
      font-family: 'Myriad Pro Light';
      font-size: 34px;
      color: rgb(255, 255, 255);
      display: inline-block;
      position: relative;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      top: 8px;
      left: 10px;
    }
    .margin-menu {
      margin-left: 45px;
    }
    .cont-select-header {
      margin: 10px 12px 0 0;
      display: inline-block;
      .label-header {
        /* Geografía: */
        font-family: 'Myriad Pro Light';
        font-size: 20px;
        color: rgba(255, 255, 255, 0.53);
        letter-spacing: 0;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
      }
      select.form-control {
        /* Todo el grupo: */
        font-family: 'Myriad Pro Regular';
        font-size: 20px;
        padding: 6px 12px;
        line-height: 1.428571429;
        color: $color-acento;
        background-color: transparent;
        background-image: none;
        border: 0px solid #ccc;
        border-radius: 4px;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        background: transparent url("../images/down-arrow.svg") no-repeat right center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-bottom: 4px;
      }
    }
  }
  .logo-tirio-header {
    margin-top: 24px;
  }
}

.submain-content {
  width: 100%;
  height: 142px;
}

.main-content {
  width: 100%;
  height: calc(100vh - (70px + 125px + 142px));
}

.footer {
  height: 70px; //background-color: #ff00ff;
  justify-content: left;
}


/* Tarjeta Dashboard */

.tirio-dashboard-panel {
  background-color: #2B2F35;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: none;
  .acciones-ocultas {
    display: none !important;
  }
  &:hover {
    .acciones-ocultas {
      display: inline-block !important;
    }
  }
  .panel-heading {
    padding: 16px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #106FAB;
    height: 70px;
    position: relative;
    h4 {
      color: #fff;
      margin: 0;
      text-transform: uppercase;
      font-family: 'Myriad Pro Semibold';
      &.subheader {
        font-family: 'Myriad Pro Light';
      }
    }
    .acciones {
      position: absolute;
      right: 18px;
      top: 24px;
      &>a {
        position: relative;
        display: inline-block;
        min-width: 20px;
        min-height: 26px;
        text-align: center;
        margin-left: 14px;
        opacity: 0.8;
        &:hover {
          opacity: 1;
          span {
            display: block;
          }
        }
        img {
          height: 22px;
          width: auto;
        }
        span {
          display: none;
          color: rgba(255, 255, 255, 0.4);
          position: absolute;
          top: 28px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 12px;
        }
      }
    }
  }
  .panel-body {
    height: 100px;
  }
}

.feature-data {
  background-color: #2B2F35;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px; //padding: 20px 0;
  * {
    transform: translateY(10px);
  }
  h3 {
    font-size: 50px;
    color: #0098F8;
    letter-spacing: 0;
    font-family: 'Myriad Pro Bold';
    margin: 0;
  }
  h4 {
    margin: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.78);
    letter-spacing: 0;
    font-family: 'Myriad Pro Semibold';
    &.subheader {
      font-family: 'Myriad Pro Light';
    }
  }
}

.table-tirio-dashboard {
  color: #AEAEAE;
  
  >thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2) !important;
    color: #888787;
    line-height: 1 !important;
  }
  td {
    line-height: 1 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
  thead {
    font-style: italic;
  }
  .destacado {
    font-family: 'Myriad Pro Bold Condensed';
  }
}
